[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Victoria1708
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Victoria1708
	label-Verified = -1..+1 group user/Victoria1708
	push = group user/Victoria1708
	read = group user/Victoria1708
	rebase = group user/Victoria1708
	removeReviewer = group user/Victoria1708
	submit = group user/Victoria1708
[access "refs/heads/*"]
	create = group user/Victoria1708
	push = +force group user/Victoria1708
	pushMerge = group user/Victoria1708
	read = group user/Victoria1708
[access "refs/tags/*"]
	push = group user/Victoria1708
	push = +force group user/Victoria1708
